.cart-component {
    z-index: 1000000;
    position : fixed;
    top : 0;
    right : 0;
    width : min(400px, 100%);
    background-color : white;
    padding : 20px;
    height : 100vh;
    box-shadow: -3px 2px 15px -1px rgba(0,0,0,0.61);
}

.cart-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: 100;
}

.cart-body {
    margin-top: 10px;
    background-color: #f5f0f0;
    padding : 20px;
    border-radius: 3px;
    font-weight: 400;
}

.cart-body > div {
    display: flex;
    justify-content: space-between;
}

.cart-body > div > div {
    display: flex;
    align-items: center;
}

.cart-body > div > div label {
    margin-left: 5px;
}

.cart-foot {
    margin-top: 10px;
}

.empty-cart {
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%);
}

.cart-component > button {
    background-color: #dddd;
    margin-top: 50px;
    outline: none;
    border: none;
    width : 100%;
    font-weight: 400;
    font-size: 1.2rem;
    padding : 15px 20px;
    color : red;
    transition: all 200ms ease-in-out;
}

.cart-component > button:hover {
    background-color: #b3b3b3dd;
    scale: 1.01;
}
